name: validate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # https://github.com/home-assistant/actions/commits/master/hassfest
      - uses: home-assistant/actions/hassfest@87c064c607f3c5cc673a24258d0c98d23033bfc3

      # https://github.com/hacs/action/commits/main
      - uses: hacs/action@06827d281b9c558c46d8ed6f4aae6c517fdc19ed
        with:
          category: integration
          ignore: brands
