name: validate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # https://github.com/home-assistant/actions/commits/master/hassfest
      - uses: home-assistant/actions/hassfest@8ca6e134c077479b26138bd33520707e8d94ef59

      # https://github.com/hacs/action/commits/main
      - uses: hacs/action@94334b7ff014b150ad280ca09a20fa43f858c544
        with:
          category: integration
          ignore: brands
